-
	var componentsCol1 = [
		['alerts.html', 'Alerts'],
		['badges.html', 'Badges'],
		['breadcrums.html', 'Breadcrums'],
		['buttons.html', 'Buttons'],
		['buttons-group.html', 'Buttons Group'],
		['cards.html', 'Cards'],
		['carousel.html', 'Carousel']
	];

	var componentsCol2 = [
		['collapse.html', 'Collapse'],
		['dropdown.html', 'Dropdown'],
		['layout.html', 'Layout'],
		['forms.html', 'Forms'],
		['input-group.html', 'Input Group'],
		['icons.html', 'Icons'],
		['list-group.html', 'List Group']
		
	];

		var componentsCol3 = [
		['modal.html', 'Modal'],
		['navs.html', 'Navs'],
		['navigation.html', 'Navigation'],
		['progress.html', 'Progress'],
		['jumbotron.html', 'Jumbotron'],
		['pop-over.html', 'Pop Over'],
		['tables.html', 'Tables']
	];


// ===========================
// Navigation Fixed Top NabVar
// ===========================

nav#nav-fixed.main-navigation.navbar.fixed-top.navbar-expand-lg.navbar-light.Hidden
	a.navbar-brand(href='/') 
		.site-brand
			span.bold Tell 
			span.thin.dark-text Something
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-fixed-top', aria-controls='navbar-fixed-top', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbar-fixed-top.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item.active
				a.nav-link(href='index.html')
					| Home 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='docs/docs.html') Docs
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| Pages
				.dropdown-menu
					a(href="/docs/docs.html") Docs
					a.dropdown-item(href="blog-left-sidebar.html") Blog - Left Sidebar
					a.dropdown-item(href="index.html") Blog - Right Sidebar
					a.dropdown-item(href="blog-no-sidebar.html") Blog - No Sidebar
					a.dropdown-item(href="login.html") Login
					a.dropdown-item(href="register.html") Register
			// Large Dropdown
			li.nav-item.dropdown.dropdown-large
				a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
					| Components
				.dropdown-menu.dropdown-menu-right.row(aria-labelledby='navbarDropdown')
					.col-sm-4.col-xs-12.dropdown-large-column
						each link in componentsCol1
							a(href="docs/"+link[0]) #{link[1]}
					.col-sm-4.col-xs-12.dropdown-large-column
						each link in componentsCol2
							a(href="docs/"+link[0]) #{link[1]}
					.col-sm-4.col-xs-12.dropdown-large-column
						each link in componentsCol3
							a(href="docs/"+link[0]) #{link[1]}
			li.nav-item
				a(href="index.html#Contact").nav-link Contact Us

// =======================
// Navigation Top NavBar
// =======================

nav#nav-top.main-navigation.navbar.navbar-expand-lg.navbar-light.Hidden
	a.navbar-brand(href='index.html') 
		.site-brand
			span.bold Tell 
			span.thin.dark-text Something
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-top', aria-controls='navbar-top', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbar-top.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			li.nav-item.active
				a.nav-link(href='index.html')
					| Home 
					span.sr-only (current)
			li.nav-item
				a.nav-link(href='docs/docs.html') Docs
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
					| Pages
				.dropdown-menu
					a(href="/docs/docs.html") Docs
					a.dropdown-item(href="blog-left-sidebar.html") Blog - Left Sidebar
					a.dropdown-item(href="index.html") Blog - Right Sidebar
					a.dropdown-item(href="blog-no-sidebar.html") Blog - No Sidebar
					a.dropdown-item(href="login.html") Login
			// Large Dropdown
			li.nav-item.dropdown.dropdown-large
				a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
					| Components
				.dropdown-menu.dropdown-menu-right.row(aria-labelledby='navbarDropdown')
					.col-4.dropdown-large-column
						each link in componentsCol1
							a(href="docs/"+link[0]) #{link[1]}
					.col-4.dropdown-large-column
						each link in componentsCol2
							a(href="docs/"+link[0]) #{link[1]}
					.col-4.dropdown-large-column
						each link in componentsCol3
							a(href="docs/"+link[0]) #{link[1]}
			li.nav-item
				a(href="index.html#Contact").nav-link Contact Us

// =======================
// Full Screen Navigation
// =======================

// Top Nav Button
#navfull-top-btn.navfull-button.navfull-top-button.Hidden
	.toggle-button
		span.bar.top
		span.bar.middle
		span.bar.bottom

// Bottom Nav Button
#navfull-bottom-btn.navfull-button.navfull-bottom-button.Hidden
	.toggle-button
		span.bar.top
		span.bar.middle
		span.bar.bottom
 
// Full Screen Navigation 
nav#navfull.main-navigation.navfull.col-md-12
	.left.col-md-6.col-xs-12
		.menu-content
			ul
				li
					a(href="index.html") HOME
				li
					a(href="blog.html") BLOG
				li
					a(href="docs/docs.html") DOCS
				li
					a(href="contact.html") CONTACT
	.right.col-md-6
		.overlay
			.text
				p Tell Something
				hr.light-hr
				p 
					| Tell to the world who are you. 
					br 
					| Tell something nice,
					br
					| Tell something meaningfull.
					br
					| Teach something.
					br
					| Tell.

// Site Brand (Full Screen Navigation)
.site-fixed-brand.centered-brand
	span.bold Tell 
	span.thin  Something